/*
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  height: 100px;
  width: 100vw;
  z-index: 20;
  background: #ece0d3;
  color: black;
  top: 0;
}

header a {
  width: 5dvw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
}

main{
  position: absolute;
  top: 100px;
}

#v0 {
  position: fixed;
  display: block;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
*/
.granularGradient {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: powderblue;
}

.noise {
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(to right, blue, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(170%) brightness(1000%);
}