/* Styles généraux */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

:root {
    --main-accent-color: #5EB030;
    --main-accent-color-alpha: rgba(94, 176, 48, 0.4);
}

/* Scroll bar */
::-webkit-scrollbar {
    display: none;
    width: 0.25rem;
    border-color: black;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-accent-color);
}
/* Fin scroll bar */

/* HEADER */
@keyframes HideHeader {
    0% {
        transform: translateY(-100%);
    }
    80% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }    
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    height: 100px;
    width: 100vw;
    z-index: 20;
    background: linear-gradient(rgba(0, 0, 0, 0.75), transparent);
    animation: 2.5s cubic-bezier(.55,.13,.18,.93) HideHeader;
}
/*
@keyframes scrolled {
    from {
      height: 100px;
      opacity: 1;
    }
    to {
      height: 50px;
      opacity: 0.5;
    }
}

header.scrolled {
    background: black;
    border-bottom: 1px solid var(--main-accent-color);
    transition: scrolled 1s ease;
}
*/
.logo {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    width: 50%;
    text-decoration: none;
    color: white;
}

.logo img {
    height: 90%;
    margin-right: 1rem;
}

.logo p {
    margin: 0;
}

.logo p::before{
    color: var(--main-accent-color);
    content: "FROG";
}
/* Fin Style Généraux */

/* Menu Burger */
/* Boutton du menu burger */
.menu-toggle {
    position: relative;
    display: flex;
    z-index: 998;
    top: 50%;
    right: 55px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transform: translate(50%, -50%);
}

.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out
}

.l1 {
    transform: translateY(-15px);
}

.l3 {
    transform: translateY(15px);
}

.menu-toggle.active .l1 {
    transform: translate(0) rotate(-135deg);
}

.menu-toggle.active .l2 {
    transform: scaleX(0);
}

.menu-toggle.active .l3 {
    transform: translate(0) rotate(135deg);
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}
/* Fin boutton menu burger */

/* Nav du menu burger */
.mobile-menu {
    position: fixed;
    z-index: 100;
    width: 15vw;
    height: 100vh;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background: black;
    flex-direction: column;
    border-left: 1px solid var(--main-accent-color);
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(.25,0,.36,1);
}

.mobile-menu.active {
    transform: translateX(0);
}

.mobile-menu a{
    font-weight: lighter;
    color: white;
    font-size: 20px;
    display: block;
    margin: 5rem 0;
    text-decoration: none;
    text-align: center;
}

.mobile-menu li {
    list-style: none;
}
/* Fin du menu burger */

/* FIN DU HEADER */

/* Main */
main {
    background-color: black;
}
/* Fin Main */

/* Landing */
.landing {
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--main-accent-color);
}

@keyframes ZoomOut {
    0% {
        width: auto;
        height: 125dvh;
        opacity: 0%;
    }
    100% {
        width: auto;
        height: 100dvh;
        opacity: 100%;
    }
}

.landinginmagecontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing img,
.landing video {
    height: 100dvh;
    width: auto;
}

.landing img {
    animation: ZoomOut 3s cubic-bezier(.45,.36,.17,.97) 0s;
}

@keyframes SlidingLeftToRight {
    20% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}

.landing h1 {
	z-index: 1;
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    transform: translateX(-120%);
    font-size: 10vw;
    line-height: 9vw;
    color: white;
    margin: 0;
    animation: SlidingLeftToRight 3s cubic-bezier(.45,.36,.17,.97) 0s forwards;
}

.landing h1::first-line {
    color: var(--main-accent-color);
    text-transform: uppercase;
}

.VideoOnLoad {
	height: 100dvh;
	width: 100%;
}

* { box-sizing: border-box; }

#bound-one {
	background: #d0d8db;
}
.scroll-bound {
	height: 500vh;
	
	.content {
		height: 100vh;
		width: 100%;
		position: sticky;
		top:0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	video {
		width: 100%;
	}
}

.content {
	height: 100vh;
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Fin Landing */


/* En voir plus */
.Know-More {
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}
/* Fin de En voir plus */

/* fin du Main */

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--main-accent-color);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}
/*FIN DU FOOTER*/

/* Media Queries pour la réactivité */
/* Styles pour les écrans de largeur <= var(--media-querry-width) */
@media (max-width: 800px) {
    .menu-toggle {
        display: none;
    }

    .mobile-menu {
        background-color: #333;
        position: absolute;
        top: 60px;
    }

    .mobile-menu ul {
        padding: 0;
    }

    .mobile-menu a {
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 10px;
    }
}

@media (min-aspect-ratio: 16/9) {
    .landing {
        height: 100dvh;
        width: 100dvw;
    }

    @keyframes ZoomOut {
        0% {
            width: 175dvw;
            height: auto;
            opacity: 0%;
        }
        100% {
            width: 100dvw;
            height: auto;
            opacity: 100%;
        }
    }
    
    .landing img,
    .landing video {
        height: auto;
        width: 100dvw;
    }


}