/* CSS Général */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section  {
    width: 70dvw;
    padding: 2rem 0;
}

.landing h1 {
    /* Layout related */
    position: relative;
    bottom: 0;
    left: 0;

    /* Style related */
    color: #FFF;
    text-align: center;
    animation: none;
    transform: none;

    /* Font related */
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

h2 {
    /* Layout related */
    text-align: center;
    margin: 0;
    padding: 0;

    /*  Style related */
    color: #FFF;

    /* Font related */
    font-size: 3rem;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

h3 {
    /* Layout related */
    text-align: center;

    /*  Style related */
    color: #FFF;

    /* Font related */
    font-size: 2.1875rem;
    line-height: normal;
    text-transform: uppercase;
}

.btn, button {
    /* Layout related */
    display: inline-flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    width: fit-content;

    /* Style related */
    color: #000;
    border-radius: 0.5rem;
    border: none;
    background: var(--main-accent-color);
    box-shadow: 2px 4px 8px 0 #00000025;

    /* Font related */
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;

    /* Animation related */
    transition: ease-in 300ms;
}

.btn:hover {
    /* Style related */
    box-shadow: 2px 4px 8px 0 #FFFFFF25 inset;

    /* Animation related */
    transition: ease-in 300ms;
}

/* Fin CSS Général */

/* Partie Landing */

.landing {
    /* Layout related */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 10%;
    }
}

.landing img {
    animation: fadeIn 3s cubic-bezier(.45,.36,.17,.97) 0s fill forwards;
}

.goToBtn {
    display: flex;
    gap: 2rem;
}

.check-down {
    bottom: calc(0px - 6rem);
}
/* Fin CSS Landing */

/* Partie CSS Offres */

.offres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.offres-grid {
    /* Layout related */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.offre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.offre img {
    width: 100%;
    opacity: 80%;
    transition: 0.5s ease-out;
    box-shadow: none;
}

.offre img:hover {
    width: 100%;
    opacity: 100%;
    transition: 0.5s ease-out;
    box-shadow: 0 0 24px 0 #FFFFFF60;
}

/* Fin CSS Offres */

/* Partie réassurance */

.trust {
    display: none;
}

/* Fin réassurance */

/* Partie showreal */

.showreal {
    /* Layout related */
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.show {
    /* Layout related */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100dvw;
    gap: 2rem;
}

.show-vidz {

}

.show video {
    /* Layout related */
    width: 100%;
    height: auto;
    aspect-ratio: 2.33/1;
}

/* Fin partie showreal */

/* Partie expérience */

.experience {
    display: flex;
    flex-direction: column;
}

.xp-para {
    display: flex;
}

.xp-para img {
    width: 10dvw;
}

/* Fin partie expérience */

/* Partie matériel */

.gear { 
    /* Layout related */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gear-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.drone {
    /* Layout related */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;

    /* Style related */
    color: #000;
    background-color: #FFF;
    border: 1px solid var(--main-accent-color);
    border-radius: 1.5rem;
    box-shadow: 0 0 16px 0 #FFF;
}

.drone h3 {
    color: #000;
}

.drone table {
    width: 100%;
    border-collapse: collapse;
    
    overflow: hidden;
    border: 1px solid black;
    border-radius: 25px;

    box-shadow: 0 0 8px black 0;
}

.drone th, td {
    border: 1px #000 solid;
    padding: 0.25rem;
}

.gear-img {
    aspect-ratio: 16/10;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gear-img img {
    width: 100%;
    height: auto;
}

/* Fin partie matériel */

/* Début partie Contact */

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form button {

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.form-group label {
    font-size: 1.5rem;
}

.form-group input, textarea {
    /* Layout related */
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem;

    /* Style related */
    border: 1px solid var(--main-accent-color);

    /* font related */
    font-family: Poppins, sans-serif;
}

textarea {
    /* Layout related */
    resize: vertical;
    min-height: 5rem;
}

.textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.form-super-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;
}

/* Fin partie Contact */