/* MAIN */

h2 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

h2 span {
    color: var(--main-accent-color);
}

a {
    color: white;
    text-decoration: none;
}

/* Sections */

/* Frog Studio presentation */
.landing {
    width: 100dvw;
    aspect-ratio: 17/9;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

@keyframes ZoomOut {
    0% {
        width: 175dvw;
        opacity: 0%;
    }
    100% {
        width: 105dvw;
        opacity: 100%;
    }
}

.landinginmagecontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing img {
    position: absolute;
    animation: ZoomOut 3s cubic-bezier(.45,.36,.17,.97) 0s;
    width: 105dvw;
}

@keyframes SlidingLeftToRight {
    0% {
        transform: translateX(-120%);
    }
    20% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}

.landing h1 {
    position: absolute;
    bottom: 5dvw;
    left: 5dvw;
    font-size: 10dvw;
    line-height: 9dvw;
    color: var(--main-accent-color);
    margin: 0;
    animation: SlidingLeftToRight 3s cubic-bezier(.45,.36,.17,.97) 0s;
}

.landing h1::before {
    color: white;
    font-size: 3dvw;
    line-height: 1dvw;
    font-weight: 100;
    content: "Bienvenue chez";
}

.landing h1::after {
    color: white;
    content: "Studio";
}
/* Fin Frog Studio presentation */

/* Grids for projects */
.graphic-projects {
    display: grid;
    grid-template-columns: 50vw 50vw;
    gap: 0.25rem;
    background: var(--main-accent-color);
    padding: 0;
}

.graphic-projects a {
    height: 25dvw;
    width: 25dvw;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphic-projects img {
    height: 25dvw;
    transition: height 1s;
    aspect-ratio: 1/1;
}

.graphic-projects a:hover img {
    transition: height 0.5s;
    height: 27dvw;
}

.graphic-projects h3 {
    position: absolute;
    width: 100%;
    bottom: -100%;
    transition: bottom 1s cubic-bezier(.45,.36,.17,.97);
    text-align: center;
    text-shadow: black 0 0 10px;
    font-size: 1.1dvw;
    color: var(--main-accent-color);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: contain;
    padding: 20px 0;
    border-top: 1px var(--main-accent-color);
    margin: 0;
}

.graphic-projects a:hover h3 {
    bottom: 0;
    transition: bottom 0.5s cubic-bezier(.45,.36,.17,.97);
}

.graphic-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25dvw 25dvw 25dvw 25dvw;
}

.photo-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25dvw 25dvw 25dvw 25dvw;
}
/* fin de grids for projects */










/* NOUVELLES SECTION POUR LA PAGE D4ACCEUIL */

/* début section projets */
.graphic-projects {
    width: 100dvw;
}

.grid-projects {
    position: relative;
}

.grid-projects a {

}

.grid-projects img {
    width: 40dvw;
}
/* fin section projets */

/* Début du carousel photo */
.photo-carousel {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    z-index: -1;
}

.photo-carousel::after,
.photo-carousel::before {
    position: absolute;
    content: "";
    height: 100dvh;
    width: 15dvw;
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    z-index: 2;
}

.photo-carousel::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.photo-carousel::before {
    left: 0;
    top: 0;
}

.photo-carousel h2 {
    position: relative;
    top: 2rem;
    left: 2rem;
    z-index: 3;
}

.car-photo {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    height: 50%;
}

.car-photo-container {
    height: 40dvh;
    width: auto;
}

.car-photo-container img {
    object-fit: contain;
    border-radius: 3rem;
    height: 100%;
}

#CD-G {
    animation: scroll var(--animationSpeed) linear infinite;
}

#CG-D {
    flex-direction: row-reverse;
    animation: backscroll var(--animationSpeed) linear infinite;
}

/* the animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-43.4dvh * 7))}
}

@keyframes backscroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(43.4dvh * 7))}
}
/* fin de l'animaiton */

.Know-More {
    text-decoration: none;
}
/* fin du carousel photo */

/* Carrousel */
.carrousel {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
    margin: 0;
    overflow: hidden;   
    position: relative;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}
/*Fin du carrousel*/

/*FIN DU MAIN*/