/* Landing photo */
.landing {
    width: 100vw;
    aspect-ratio: 17/9;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

@keyframes ZoomOut {
    0% {
        width: 175vw;
        opacity: 0%;
    }
    100% {
        width: 105vw;
        opacity: 100%;
    }
}

.landinginmagecontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing img {
    position: absolute;
    animation: ZoomOut 3s cubic-bezier(.45,.36,.17,.97) 0s;
    width: 105vw;
}

@keyframes SlidingLeftToRight {
    0% {
        transform: translateX(-120%);
    }
    20% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}

.landing h1 {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    font-size: 10vw;
    line-height: 9vw;
    color: var(--main-accent-color);
    margin: 0;
    animation: SlidingLeftToRight 3s cubic-bezier(.45,.36,.17,.97) 0s;
}

.landing h1::before {
    color: white;
    content: "Galerie";
}
/* Fin de Landing Photo */