/* Landing photo */
.landing {
    width: 100vw;
    aspect-ratio: 17/9;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

@keyframes ZoomOut {
    0% {
        width: 175vw;
        opacity: 0%;
    }
    100% {
        width: 105vw;
        opacity: 100%;
    }
}

.landinginmagecontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing img {
    position: absolute;
    animation: ZoomOut 3s cubic-bezier(.45,.36,.17,.97) 0s;
    width: 105vw;
}

@keyframes SlidingLeftToRight {
    0% {
        transform: translateX(-120%);
    }
    20% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}

.landing h1 {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    font-size: 10vw;
    line-height: 9vw;
    color: var(--main-accent-color);
    margin: 0;
    animation: SlidingLeftToRight 3s cubic-bezier(.45,.36,.17,.97) 0s;
}

.landing h1::before {
    color: white;
    content: "Galerie";
}
/* Fin de Landing Photo */

/* début de toutes les photos */
/* full width image section */
.fullwidth-images-section {
    position: sticky;
    z-index: 2;
    top: 75px;
    width: 100dvw;
    height: 94.5dvh;
    overflow: hidden;

    /*display: none;*/
}

.fullwidth-images-section img {
    width: 80%;
    height: 80%;
    text-align: center;
    object-fit: cover;
    display: block;
}

.carousel-view {
    width: 100dvw;
    height: 94.5dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    width: 200px;
    height: 100px;
    opacity: 0.25;
    transition: opacity 0.5s;
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

.carousel-prev img,
.carousel-next img {
    width: 66.6666666667%;s
    height: 100%;
}

.carousel-close {
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* boutons prev et next */
.btn-next,
.btn-prev {
    position: absolute;
    top: 50%;
    height: 5dvw;
    width: 5dvw;
    background-color: black;
    border: solid var(--main-accent-color);
    padding: 0;
    color: white;
}

.btn-prev {
    left: 0;
    border-radius: 0 50% 50% 0;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(.33,.07,.19,.94);
    border-width: 1px 1px 1px 0;
}

.btn-next {
    right: 0;
    border-radius: 50% 0 0 50%;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(.33,.07,.19,.94);
    border-width: 1px 0 1px 1px;
}

.btn-next:hover {
    transform: translateX(20%);
    transition: transform 0.5s cubic-bezier(.33,.07,.19,.94);
}

.btn-prev:hover {
    transform: translateX(-20%);
    transition: transform 0.5s cubic-bezier(.33,.07,.19,.94);
}
/* Flèches des boutons prev & next */
.arrow-right,
.arrow-left{
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
.arrow-right{
 transform: rotate(135deg);
}

.arrow-left{
 transform: rotate(-45deg);
}
/* FIN Flèches des boutons prev & next */
/* FIN boutons prev et next */

/* croix du menu *//*
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }*/
/* fin de la croix du menu */

/*toutes toutes les photos*/
.all-images {
    position: relative;
    z-index: 1;
    top: -100dvh;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    width: 90vw;
    border-left: 1px solid var(--main-accent-color);
    border-right: 1px solid var(--main-accent-color);
    padding: 0 2.5vw;
    /*display: none;*/
}

.images-containers {
    position: relative;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-images img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scale: 100%;
    transition: scale 2s cubic-bezier(.45,.36,.17,.97);
}

.all-images img:hover {
    scale: 115%;
    transition: scale 1s cubic-bezier(.45,.36,.17,.97);
}

.images-pa {
}

.images-po {
}

.images-ca {
}
/* fin des photos */
/* fin de full width image section */