h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-accent-color);
}

/* Description section */
.description {
    display: grid;
    padding: 0 15dvw;
    border-top: 1px solid var(--main-accent-color);
}

.Inspirations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Inspishow {
    display: flex;
    width: 75dvw;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;
}

.Inspishow img {
    object-fit: contain;
    width: 20dvw;
}

.Concept {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.production video {
    width: 50dvh;
}

/* Fin Description section */

/* Final Show */
.rendu-final {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background: radial-gradient(var(--main-accent-color) 0%, transparent 80%);
    border-top: 1px solid var(--main-accent-color);
    padding-bottom: 2rem;
}

.rendu-final img {
    box-shadow: none !important;
    max-height: 100dvh;
}

.theshow {
    height: 80dvh;
    width: fit-content;
    box-shadow: 0 0 300px -50px var(--main-accent-color);
}
/* FIn final Show */

/* Projet Liers */
.linkedproject {
    position: relative;
    height: 25dvh;
    box-shadow: inset 0 0 30px rgba(255, 255, 255 ,0.5), 0 0 30px rgba(255, 255, 255 ,1);
    transition: box-shadow 0.5s ease;
    overflow: hidden;
}

.linkedproject:hover {
    box-shadow: inset 0 0 30px black, 0 0 30px black;
    transition: box-shadow 1s ease;
}

.linkedproject h2 {
    margin: 0;
}

.linkedproject h2,
.linkedproject p {
    text-shadow: 0 0 30px rgba(255, 255, 255 ,0.5);
    transition: text-shadow 0.5s ease;
}

.linkedproject:hover h2,
.linkedproject:hover p {
    text-shadow: 0 0 30px black;
    transition: text-shadow 1s ease;
}

.linkedprjcontainer {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.linkedprjbackground {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.linkedproject img {
    width: 100%;
    opacity: 0.5;
    transition: width 0.5s ease, opacity 0.5s ease;
    object-fit: cover;
}

.linkedproject:hover img {
    width: 125%;
    opacity: 1;
    transition: width 1s ease, opacity 1s ease;
}
/* Fin Projet Liers */

.remerciements {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    background: none;
    font-size: 2rem;
}