h2 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--main-accent-color);
}

/* Landing First Section */
.landing {
    width: 100vw;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ZoomOut {
    0% {
        width: 175vw;
        opacity: 0%;
    }
    100% {
        width: 100vw;
        opacity: 100%;
    }
}

.landinginmagecontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing img,
.landing video {
    width: 100dvw;
}

.landing img {
    animation: ZoomOut 3s cubic-bezier(.45,.36,.17,.97) 0s;
}

@keyframes SlidingLeftToRight {
    0% {
        transform: translateX(-120%);
    }
    20% {
        transform: translateX(-120%);
    }
    100% {
        transform: translateX(0%);
    }
}

.landing h1 {
	z-index: 1;
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    font-size: 10vw;
    line-height: 9vw;
    color: white;
    margin: 0;
    animation: SlidingLeftToRight 3s cubic-bezier(.45,.36,.17,.97) 0s;
}

.landing h1::first-line {
    color: var(--main-accent-color);
    text-transform: uppercase;
}

.VideoOnLoad {
	height: 100dvh;
	width: 100%;
}

* { box-sizing: border-box; }

#bound-one {
	background: #d0d8db;
}
.scroll-bound {
	height: 500vh;
	
	.content {
		height: 100vh;
		width: 100%;
		position: sticky;
		top:0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	video {
		width: 100%;
	}
}

.content {
	height: 100vh;
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Fin landing First Section */

/* Description section */
.description {
    display: grid;
    padding: 0 15dvw;
    border-top: 1px solid var(--main-accent-color);
}

.Inspirations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Inspishow {
    display: flex;
    width: 70dvw;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;
}

.Inspishow img {
    object-fit: cover;
}

.Concept {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.production {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.production video {
    width: 50dvh;
}

/* Fin Description section */

/* Final Show */
.rendu-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(var(--main-accent-color) 0%, transparent 80%);
    border-top: 1px solid var(--main-accent-color);
    padding-bottom: 2rem;
}

.rendu-final img {
    box-shadow: none !important;
}

.theshow {
    height: 80dvh;
    width: fit-content;
    box-shadow: 0 0 300px -50px var(--main-accent-color);
}
/* FIn final Show */

.remerciements {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    background: none;
    font-size: 2rem;
}