/* MAIN */

h2 {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    width: 100%;
    z-index: 3;
    padding-left: 2dvw;
}

h2 span {
    color: var(--main-accent-color);
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    color: var(--main-accent-color);
}

a {
    color: white;
    text-decoration: none;
}

/* Sections */
/* Landing */
.landing h1 {
    color: var(--main-accent-color);
}

.landing h1::before {
    color: white;
    font-size: 3dvw;
    line-height: 1dvw;
    font-weight: 100;
    content: "Bienvenue chez";
}

.landing h1::after {
    color: white;
    content: "Studio";
}
/* Fin Landing */

/* Grids for projects */

.graphic-projects {
    border-top: 1px solid var(--main-accent-color);
}

.grid-projects {
    display: grid;
    grid-template-columns: 25dvw 25dvw 25dvw 25dvw;
    grid-template-rows: 25dvw 25dvw;
    justify-content: center;
    align-items: center;
}

.project{
    display: flex;
    height: 20dvw;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.5s ease;
    margin: auto;
}

.project:hover {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    transition: box-shadow 1s ease;
}

.project a {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 1s ease;
    text-align: center;
    text-shadow: black 0 0 20px;
    background: radial-gradient(circle at top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-size: contain;
    padding: 1rem 0;
    border-top: 1px solid var(--main-accent-color);
}

.project:hover a {
    transform: translateY(0);
    transition: transform 0.5s ease;
}

.project img {
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    transition: width 1s ease;
}

.project:hover img {
    width: 115%;
    transition: width 0.5s;
}
/* Fin Section Graphique */

/* Début du carousel photo */
.photo-carousel {
    width: 100dvw;
    border-top: 1px solid var(--main-accent-color);
    z-index: 1;
}

.photo-carousel::after,
.photo-carousel::before {
    position: relative;
    top: 0;
    content: "";
    height: 100dvh; 
    width: 15dvw;
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    z-index: 2;
}

.photo-carousel::after {
    right: 0;
    transform: rotateZ(180deg);
}

.photo-carousel::before {
    left: 0;
}

.car-photo {
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
    height: 50%;
}

.car-photo-container {
    height: 40dvh;
    width: auto;
}

.car-photo-container img {
    object-fit: contain;
    border-radius: 3rem;
    height: 100%;
}

:root {
    --animation-speed: 30s;
}

#CD-G {
    animation: scroll var(--animation-speed) linear infinite;
}

#CG-D {
    flex-direction: row-reverse;
    animation: backscroll var(--animation-speed) linear infinite;
}

/* the animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-43.4dvh * 7))}
}

@keyframes backscroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(43.4dvh * 7))}
}
/* fin de l'animaiton */
/* fin du carousel photo */

/* Carrousel */
.carrousel {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    overflow: hidden;   
    position: relative;
    border-top: 1px solid var(--main-accent-color);
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-0%, -50%);
    user-select: none;
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}
/*Fin du carrousel*/

/*FIN DU MAIN*/