main {
    display: flex;
    height: 100dvh;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 6.4rem;
    line-height: 7rem;
    margin-top: 20dvh;
    margin-bottom: 0;
    margin-left: 2rem;
    color: var(--main-accent-color);
}

@keyframes ArriveIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.contactinfo {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

.socialnetwork {
    width: 50dvw;
    height: 40dvh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.socialnetwork h2 {
    font-size: 3rem;
    padding-left: 2rem;
    margin: 0;
}

.socialnetwork a {
    flex: 1;
    border: 1px solid var(--main-accent-color);
    border-left: none;
    border-right: none;
    border-bottom: none;
    align-items: center;
    overflow: hidden;
    transition: flex 0.25s ease;
    padding-left: 2rem;
}

.socialnetwork a:hover {
    flex: 2;
    transition: flex 0.5s ease;
}

.socialnetwork img {
    height: 50%;
    margin-right: 1rem;
}

.socialnetwork a:last-child {
    border-bottom: 1px solid var(--main-accent-color);
}

.Instagram,
.Pinterest,
.LinkedIn {
    display: flex;
}

.mail {
    flex: 1;
    padding-left: 3dvw;
    transform: translateX(-100%);
    animation: ArriveIn 2s cubic-bezier(.42,.08,.48,.95) forwards;
    padding-left: 2rem;
}

.sideimage {
    width: 50dvw;
    position: relative;
    overflow: hidden;
}

.sideimage img {
    position: absolute;
    height: 100%;
    width: auto;
    object-fit: cover;
    top: 0;
    right: 0;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .socialnetwork {
        width: 100dvw;
    }

    .sideimage {
        display: none;
    }
}